/* GLOBAL RULES */
.wrapper { max-width:1240px; margin:0 auto; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

/* HEADER */
header h1 { font-size:3em; margin:20px 0; }

/* NAV */
nav * { margin:0; padding:0; background-color:#633393; }
nav ul li { display:inline-block; }
nav > ul > li > a { display:block; padding:3px 6px; 
	color:#FFF; font-size:1.6em; }

/* MAIN */
#main ul { list-style-type:circle; padding-left:20px; margin-left:20px;}
	
/* FOOTER */
footer { background-color:#633393; margin:40px 0; }
footer h3 { color:#FFF; font-size:1.9em; padding:20px 0; text-align:center; }